body {
	font-family: "calibri";
    background: #efefef;
    padding: 32px;
    padding-top: 16px;
    color: #333;
}
h1,h3 {
	text-align: center;
	color: #787878;
}

#movieName {
	width: 98%;
	padding: 9px;
	font-size: 16px;
}