// Colors
$theme-dark:   #FFA000;
$theme-light:  #FFECB3;
$primary-color:#FFC107;

$divider:        #BDBDBD;

$primary-text:         #212121;
$secondary-text: #757575;
$accent-color:         #795548;

// Typography
$title: "Charmonman", cursive;
